/*
------ Color Reference -------
background: #173e43
heading: #fae596

*/
/*============ IMPORTS ============*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*============ GENERAL ============*/

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.minimenu, .hamburger-menu {
    display: none;
}

/*============ HEADER ============*/

.main-header .background {
    background: url('../img/fortune-nakov.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 66.6%;
}

.main-header h1 {
    margin: 0;
}
/** ======== Logo ======= **/
.main-header .logo {
    color: #878787;
    float: left;
    height: 80px;
    width: 400px;
    background: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
}
.main-header .logo:hover{
    opacity: .8;
}
.main-header .logo h1 img{
    height: 50px;
    float: left;
}
.main-header .logo h1{
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 100px;
}
/** ======== Navigation ======= **/
.menu {
    float: right;
    padding-top: 20px;
    padding-right: 1%;
    width: 45%;
    text-align: right;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
}

.menu ul li {
    display: inline-block;
    margin: 1%;
}

.menu ul li a {
    text-decoration: none;
    color: #f82722;
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
}

.menu ul li a:hover {
    color: #b38673;
}

/*============ MAIN ============*/

main > section {
    background: navajowhite;
    min-height: 250px;
    border-bottom: 1px solid saddlebrown;
}

main > section h1 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

/**============ HISTORY ============**/
#history{
    color: #173e43;
    background: #dddfd4;
}
/**============ FORTUNE-TELLER ============**/
#fortune-teller {
    padding-bottom: 50px;
}

#fortune-teller h1 {
    margin-bottom: 40px;
}

.tellers {
    text-align: center;
}

.tellers .mag-nakov {
    width: 50%;
    display: inline-block;
    background: #fff;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 1%;
}

.tellers .mag-nakov img {
    width: 50%;
    float: left;
    max-width: 100%;
    min-height: 275px;
}

.tellers .mag-nakov h2 {
    font-size: 1.8em;
    margin: 2% 0 1% 0;
    letter-spacing: 4px;
}

.tellers .mag-nakov p {
    width: 45%;
    float: right;
    text-align: justify;
    padding: 0 2%;
    line-height: 21px;
    margin: 5px 0;
    font-weight: bold;
    font-size: 1vw;
}

.tellers section {
    width: 90%;
    margin: 0 auto;
}

.tellers section article {
    width: 28%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    background: #fff;
    height: 505px;
    margin: 0 2%;
}

.tellers section img {
    width: 100%;
    height: 300px;
}

.tellers section h2 {
    margin: 10px 0;
    letter-spacing: 4px;
}

.tellers section p {
    font-size: 1vw;
    text-align: justify;
    margin: 10px 0;
    font-weight: bold;
}

.tellers .mag-nakov:hover, .tellers section article:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/**============ HOROSCOPE ============**/
.zodiac {
    margin: 0 10%;
}
.zodiac>ul {
    padding: 0;
}
.zodiac>ul>li {
    list-style-type: none;
    width: 230px;
    display: inline-block;
    height: 250px;
    vertical-align: top;
    box-shadow: 3px 5px 15px #888888;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 30px;
}
.zodiac>ul>li>p {
    font-size: small;
    padding: 10px;
}
.zodiac>ul>li h3 {
    font-size: 15px;
    color: lightslategrey;
}
.zodiac>ul>li>h2 {
    padding: 0 10px;
    text-align: center;

}
.ai {
    font-style:normal;
    color:purple;
    font-weight:bold;
    font-size:24px;
    line-height:24px;
    float: left;
    padding: 10px;
}
.ai.aries:before {
    content:"\2648";
}
.ai.taurus:before {
    content:"\2649";
}
.ai.gemini:before {
    content:"\264A";
}
.ai.cancer:before {
    content:"\264B";
}
.ai.leo:before {
    content:"\264C";
}
.ai.virgo:before {
    content:"\264D";
}
.ai.libra:before {
    content:"\264E";
}
.ai.scorpio:before {
    content:"\264F";
}
.ai.sagittarius:before {
    content:"\2650";
}
.ai.capricorn:before {
    content:"\2651";
}
.ai.aquarius:before {
    content:"\2652";
}
.ai.pisces:before {
    content:"\2653";
}
.ai.sun:before {
    content:"\2609";
}
.ai.moon:before {
    content:"\263D";
}
.ai.earth:before {
    content:"\2295";
}
.ai.mercury:before {
    content:"\263F";
}
.ai.venus:before {
    content:"\2640";
}
.ai.mars:before {
    content:"\2642";
}
.ai.jupiter:before {
    content:"\2643";
}
.ai.saturn:before {
    content:"\2644";
}
.ai.uranus:before {
    content:"\2645";
}
.ai.neptune:before {
    content:"\2646";
}
.ai.pluto:before {
    content:"\2647";
}
.ai.north-node:before {
    content:"\260A";
}
.ai.south-node:before {
    content:"\260B";
}
.ai.part-of-fortune:before {
    content:"\2297"
}
.ai.ceres:before {
    content:"\02A1"
}
.ai.conjunction:before {
    content:"\260C"
}
.ai.square:before {
    content:"\25A1"
}
.ai.trine:before {
    content:"\25B3"
}
.ai.opposition:before {
    content:"\260D"
}
.ai.semisquare:before {
    content:"\2220"
}
.ai.quintile:before {
    content:"\0051"
}
.ai.biquintile:before {
    content:"\0062\0051"
}
.ai.retrograde:before {
    content:"\211E"
}
.ai.comet:before {
    content:"\2604"
}
@media screen and(max-width: 660px){
    .zodiac>ul>li {
        display: block;
    }
}

/**============ TESTIMONIALS ============**/

#testimonials {
    position: relative;
    background: #dddfd4;
}
#testimonials h1 small{
    display: block;
    font-size: .5em;
    margin-top: 5px;
}
.client-controls {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    bottom: 0;
    font-size: 4em;
}

.client-controls a {
    color: rgba(0,0,0,.6);
}

.client-controls .client-controls-next {
    position: absolute;
    top: 50%;
    right: 50px;
}

.client-controls .client-controls-prev {
    position: absolute;
    top: 50%;
    left: 50px;
}

.clients-carousel {
    max-width: 100%;
    min-height: 350px;
    position: relative;
}

.clients-carousel .client-unit {
    display: none;
    background: white;
    max-width: 700px;
    box-sizing: border-box;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    padding: 35px;
    margin: 60px 0 0 -350px;
    z-index: 2;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .6);
}
.clients-carousel .client-unit .client-review{
    width: 50%;
}
.clients-carousel .client-unit .client-profile {
    text-align: center;
    margin-right: 50px;
}

.clients-carousel .client-unit .client-profile h4,
.clients-carousel .client-unit .client-profile small {
    margin: 0;
}

.clients-carousel .client-unit img {
    border-radius: 50%;
    max-width: 120px;
    margin-bottom: 10px;
}

.clients-carousel .client-unit .client-review p:first-line{
    font-weight: bold;
}

.clients-carousel .client-unit.active-client {
    display: flex;
}

@media screen and (max-width: 750px) {
    #testimonials{
        padding: 20px;
    }
    .clients-carousel{
        min-height: 450px;
    }
    .client-controls {
        position: relative;
    }

    .clients-carousel .client-unit {
        width: 100%;
        left: 0;
        margin: 80px 0;
    }
    .clients-carousel .client-unit .client-review{
        width: 100%;
    }

    .clients-carousel .client-unit.active-client {
        flex-wrap: wrap;
    }
}

/**============ CONTACT ============**/

#contact {
    line-height: 1.5;
    margin: 50px auto;
    width: 500px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
#contact>h1 {
    text-align: center;
}
.mags {
    background: #fff;
    width: 500px;
}
.mags>h4 {
    font-family: 'Raleway',sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 12px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(255,255,255,0.2);

    background: #a90329;
}
.mags>h4:hover {
    background: #cc002c;
}
.mags>h4>a {
    color: white;
    display: block;
    text-decoration: none;
    width: 200px;
}

.mags>ul {
    background: #fff;
    font-size: 13px;
    line-height: 30px;
    height: 0px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;

    /*Animation*/
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}
.mags:hover>ul {
    height: 150px;
}

.mags a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    display: block;
    width: 200px;
}
/*li Styles*/
.mags>ul>li {
    list-style-type: none;
    border-bottom: 1px solid #eee;
}
.mags>ul>li:hover {
    background: none;
}
.mags>ul>li>a {
    text-decoration: none;
    color: black;
    display: block;
    width: 450px;
}
.mags>ul>li>a>img {
    width: 20%;
    border-radius: 80px;
    float: left;
    margin: 10px;
    border: 1px solid gold;
}
.mags>ul>li>button {
    background-color: gold;
    border-radius: 5px;
    padding: 5px 20px;
    border: double indigo;
}
/*============ FOOTER ============*/
.main-footer{
    background: #f82722;
    color: white;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-footer .footer-text{
    font-size: 1.2em;
}
.main-footer .footer-social ul{
    list-style: none;
}
.main-footer .footer-social ul li{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 5px;
    cursor: pointer;
    transition: all .3s ease;
}
.main-footer .footer-social ul li:hover{
    opacity: .6;
}
/*============ MEDIA QUERIES ============*/

@media screen and (max-width: 1350px) {
    .menu {
        display: none;
    }

    .main-header .logo {
        margin-right: 2%;
        padding-top: 20px;
        padding-left: 15px;
        font-size: 3em;
    }

    .minimenu {
        display: block;
    }

    .left {
        float: left;
        padding-left: 0;
        padding-top: 10px;
    }

    .right {
        width: 40%;
        float: right;
        text-align: center;
        padding-top: 10px;
    }

    .minimenu ul {
        list-style-type: none;
    }

    .minimenu ul li {
        display: inline-block;
        margin: 15px;
    }

    .minimenu ul li a {
        text-decoration: none;
        color: #f82722;
        font-size: 1em;
        font-weight: bolder;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1024px) {
    .main-header {
        position: relative;
    }

    .minimenu, .hidden {
        display: none;
    }

    .menu {
        display: block;
    }

    .menu ul {
        position: absolute;
        left: 73%;
        top: 10%;
    }

    .menu ul li {
        display: block;
        margin: 20px 10px;
    }

    .menu ul li a {
        font-size: 1.5em;
    }

    .hamburger-menu {
        display: inline-block;
        position: absolute;
        top: 4%;
        left: 92%;
        color: #fff;
        font-size: 3em;
    }
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}

/*============ KEY FRAMES ============*/

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
